.container {
  visibility: hidden;
  width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.image-container {
  width: 1440px;
  height: 960px;
  position: relative;
  overflow: hidden;
}
.coverImage {
  width: 1440px;
  position: absolute;
}
.image-container::after{
  content: '';
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
